.main-container {
  padding: 20px;
  text-align: center;
}

.center-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add some space between the cards */
}

.job-card {
  background: white; /* Ensure a distinct background color */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px; /* Set the width of the cards */
  height: 300px; /* Set a standard height for consistency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.read-more-button {
  display: inline-block;
  max-width: 150px;
  padding: 8px 16px;
  margin: 20px auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.read-more-button:hover {
  background-color: #0056b3;
}
